.gray{
    color: #AAAAAA;
}
.bg-gray{
    background-color: #EEEEEE;
}
.w-70{
    width: 70%;
}
.container{
    width: 80%;
}

.alert{
    display: none;
}

.bg-blue{
    background-color: #1167c4;
    color: white;
    transition: all 0.3s;
}

.bg-blue:hover{
    background-color: #073668;
    box-shadow:2px 5px 3px 0px rgb(189, 189, 189);
}